{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category.name }}</h1> <br />
    <div>
        <strong id="like_count">{{ category.likes }}</strong> likes
        {% if user.is_authenticated %}
            <button id="like_btn"
                likeData-categoryid="{{ category.id }}"
                class="btn btn-primary btn-sm"
                type="button">
                Like Category
            </button>
        {% endif %}
        <strong id="dislike_count">{{ category.dislikes }}</strong> dislikes
        {% if user.is_authenticated %}
            <button id="dislike_btn"
                dislikeData-categoryid="{{ category.id }}"
                class="btn btn-primary btn-sm"
                type="button">
                Dislike Category
            </button>
        {% endif %}
    </div>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}

    

    <div>
        <ul>
            {% for video in videos %}
            <iframe width="280" height="157.5" src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            {% endfor %}
        </ul>
    </div>

    <div>
        <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'rango:add_page' category.slug %}">Add Page</a></li>
        <li><a href="{% url 'rango:add_video' category.slug %}">Add Video</a></li> <br />
        {% endif %}
        {% else %}
        The specified category does not exist.
        {% endif %}
    </ul>
</div>
{% endblock %}