{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile Page
{% endblock %}

{% block body_block %}
<h1 class = titleCon>Profile</h1>
<h1 id=greenmark> Settings </h1>
<div class='parent'>
    <div class='child'>
        {% if picture %}
        <img class= profilePIC src="{{ MEDIA_URL }}{{ picture }}" alt="Profile Picture" />
        {% else %}
        <img class= profilePIC src="{% static 'images/basic_circle.jpg' %}" alt="Vector Profile Picture" />
        {% endif %}
    </div>
    <div class='child'>
        <ul>
            <li class=profile> {{ name }} </li>
            <li class=profile> {{ email }} </li>
            <li class=profile> <a href = "{{website}}" target="_blank">{{ website }}</a> </li>
        </ul>
    </div>
    <li style="margin-bottom:100px"><a href = ../profile/settings/> SETTINGS </a></li>
    
</div>

{% endblock %}