{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile Page
{% endblock %}

{% block body_block %}
<h1>Profile</h1>
<h1 id=greenmark> Settings </h1>
<div class='parent'>
    <div class='child'>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" width= "250" height = "250" />
    </div>
    <div class='child'>
        <ul>
            <li class=profile> Username: {{ user.username }} </li>
            <li class=profile> Email:  {{ user.email }} </li>
            <li class=profile> Website: {{ user.website }} </li>
            <li> SETTINGS </li>
        </ul>
    </div>
  </div>
{% endblock %}