body {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 24 px;
    letter-spacing: 0.20em;
}

#page {
    max-width: 800px;
    min-width: 600px;
    margin: 10px auto 10px auto;
    padding: 20px
    border
}

.blocklist1, .blocklist2{
    margin: auto auto 50px auto;
    width: 400px;
    float: left;
}

ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}

li{
    list-style-type: none;
    list-style-position: inside;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
    text-decoration: none;
}

li:hover{
    background-color: #75B2AD;
    color: white;
}

img{
    display: block;
    margin: 50px auto 50px auto;
}

h1{
    
}

h2{
    font-size: 24px;
    margin-left: 10px;
}

a:link {
    text-decoration: none;
}

#greenmark{
    color:#75B2AD;
}

li.footer{
    display: inline;
    color:#75B2AD;
    background-color: transparent;
}

a.footer{
    color:#75B2AD;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s;
}

a.footer:visited{
    color:#75B2AD
}

a:hover{
    opacity: 0.6;
}

a:visited{
    color:#333333
}

hr {
    border-top: 1px solid #333333;
    opacity: 0.5f;
  }

div.footer{
    display: inline;
    background-color: transparent;
    color: #333333;
}


/* Login Code */

form{
    margin: 60px auto 0px auto;
}

input[type= "submit"]{
 color: white;
 font-weight:400;
 letter-spacing: 3px;
 text-transform: uppercase;
 background-color: #75B2AD;
 border-color: transparent;
 padding: 10px 80px 10px 60px;
 margin: 20px 20px 20px 0px;
 border-radius: 2px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
    border-color: transparent;
    margin: 10px auto 10px auto;
    padding: 10px 1px 2px 1px
}